<nav class="navbar navbar-expand-lg navbar-light bg-light center-elements">
  <a class="navbar-brand" href="#">
    <div class="flex">
      <img id="header-image-left" src="https://www.clipartmax.com/png/small/147-1475559_pokeball-clipart-svg-pokeball-icon.png" width="40" height="40" alt="pokeball-icon">
      <h3 id="text-header"> {{ title }}</h3>
      <img id="header-image-right" src="https://www.clipartmax.com/png/small/147-1475559_pokeball-clipart-svg-pokeball-icon.png" width="40" height="40" alt="pokeball-icon">
    </div>
  </a>
</nav>
