<!--<div class="conteiner">
  <div *ngFor="let pokemon of listPokemons">
    <img [src]="pokemon.sprites.front_default" class="img-fluid" alt="pokemon-image">
  </div>-->
<div class="conteiner">
  <div class="row row-cols-1 row-cols-md-2 g-4" *ngFor="let pokemon of listPokemons">
    <div class="col">
      <div class="card">
        <img [src]="pokemon.sprites.front_default" class="card-img-top"  alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ pokemon.name }}</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
</div>
