.conteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card img{
  margin: 0 0 0 60px;
  max-width: 120px !important;
}

.card{
  margin: 10px 0 10px 0;
  max-width: 250px !important;
}

.card h5{
  font-family: pokemon-font;
  text-align: center;
}
